$textaera-height: 200px;
s-input {
  position: relative;

  &:focus-within {
    s-placeholder {
      top: -25px;
      background: #fff;
      z-index: 3;
      color: $primary;
      font-size: 0.9em;
    }
  }
  select {
    option {
      font-weight: 600;
    }
  }
  input,
  select {
    width: 100%;
    outline: none;
    border: 1px solid $border-color !important;
    height: 45px;
    padding: 5px 10px;
    z-index: 2;
    background: transparent;
    font-size: 1.1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    transition: all 0.3s ease;
    position: relative;
    font-weight: 600;
    border-radius: 0.2em;
    & + s-placeholder {
      position: absolute;
      background: transparent;
      top: -3px;
      left: 10px;
      transition: all 0.2s ease;
      // color: $secondary;
      padding: 0 5px;
      font-size: 1em;
      z-index: 1;
    }
    &:valid {
      border: 1px solid $border-color !important;
      & + s-placeholder {
        top: -25px;
        background: #fff;
        z-index: 3;
        font-size: 0.9em;
      }
    }
    &:focus {
      border: 1px solid $border-color !important;
    }
  }

  textarea {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid $secondary;
    height: $textaera-height;
    padding: 10px;
    z-index: 2;
    background: transparent;
    font-size: 1.1em;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-image: none;
    transition: all 0.3s ease;
    position: relative;
    resize: none;
    color: $secondary;
    font-weight: 600;
    & + s-placeholder {
      color: $secondary;
      position: absolute;
      top: -($textaera-height - 25px);
      left: 8px;
      transition: all 0.3s ease;
      padding: 0 5px;
    }
    &:focus,
    &:valid {
      background: $primary;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      & + s-placeholder {
        top: -$textaera-height;
        background: #fff;
        z-index: 3;
        color: $primary;
        font-size: 0.9em;
        left: 8px;
      }
    }
  }

  s-label {
    color: $secondary;
  }

  s-prepend-icon {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 4;
    transition: all 0.2s ease;
    color: #fff;
    cursor: pointer;
    // font-size: 15px;
    background: $primary;
    border: none;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    @include flexCenter;
  }
  s-append-icon {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 4;
    transition: all 0.2s ease;
    color: #b48e4d;
    cursor: pointer;
    font-size: 20px;
  }
}

s-radio {
  label {
    display: flex;
    margin: 0.25em 0;
    input[type="radio"] {
      appearance: none;
      margin: 0;
      margin-right: 0.75em;
      font: inherit;
      color: #c19d60;
      width: 1.6em;
      height: 1.6em;
      border: 0.15em solid #ccc;
      border-radius: 50%;
      display: grid;
      place-content: center;
      &::before {
        content: "";
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #c19d60;
      }
      &:checked::before {
        transform: scale(1);
      }
      &:checked {
        appearance: none;
        margin: 0;
        margin-right: 0.75em;
        font: inherit;
        color: #c19d60;
        width: 1.6em;
        height: 1.6em;
        border: 0.15em solid #c19d60;
        border-radius: 50%;
      }
    }
  }
}
s-checkbox {
  margin: 0.25em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  label {
    input[type="checkbox"] {
      display: none;
      display: none;
      + {
        .cr {
          > .cr-icon {
            opacity: 0;
            opacity: 0;
          }
        }
      }
      &:checked {
        + {
          .cr {
            background: $primary;
            > .cr-icon {
              opacity: 1;
              opacity: 1;
            }
          }
        }
      }
      &:disabled {
        + {
          .cr {
            opacity: 0.5;
            opacity: 0.5;
          }
        }
      }
    }
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }
  > span {
    font-weight: 500;
  }
  .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: 0.25em;
    width: 25px;
    height: 25px;
    padding: 5px 10px;
    margin-right: 0.75em;
    .cr-icon {
      position: absolute;
      font-size: 1em;
      line-height: 0;
      top: 55%;
      left: 15%;
      color: $secondary;
    }
  }
}
