.card-premium-account {
  display: grid;
  grid-template-columns: 100px 1fr;
  @include lg-max {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }
  align-items: center;
  color: #fff;
  padding: 1.5em 2.5em;
  .tst-image {
    width: 80px;
    height: 80px;
    background: #fff;

    border-radius: 50%;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      padding: 1em;
    }
  }
  &__content {
    .title {
      font-size: 2em;
    }
    .desc {
      p {
        line-height: 28px;
      }
    }
  }
}
