.tst-app {
  display: grid;
  grid-template-columns: $side-width calc(100% - $side-width);
  .tst-side-mobile {
    display: none;
    height: 50px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    button {
      position: absolute;
      left: 1em;
      background: transparent;
      border: none;
      display: block;
      z-index: 2;
      cursor: pointer;
      font-size: 1.5em;
    }
    .tst-image {
      height: 40px;
      width: 100%;
      left: -45px;
      img {
        object-fit: contain;
      }
    }
  }
  @include lg-max {
    .tst-side {
      display: none !important;
    }
    .tst-side-mobile {
      display: flex;
    }
    grid-template-columns: 100%;
  }
  width: 100vw;
  height: 100vh;
}
